tools/
versions/

# manifests
version_manifest.json
version_manifest_v2.json
experimental_versions.json

# separated version lists
version_list.txt
special_versions.txt
normal_versions.txt
old_versions.txt

# intellij
.idea/

# yarn repo
yarn/

# python cache
__pycache__/

# ds store
.DS_Store